* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 15px 0;
}

.login-register-form {
  width: 500px;
  margin: 150px auto;
  padding: 35px 35px 20px;
  background-color: #ededed;
  border-radius: 15px;
}

.error-msg {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cards {
  padding: 10px 60px;
}

.postCard {
  width: "200px";
  background-color: #f1efef;
  border: none;
  -webkit-box-shadow: 8px 10px 32px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 10px 32px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 10px 32px -14px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}
